CppSQLite3_2/CppSQLiteDemo/.vs/
CppSQLite3_2/CppSQLiteDemo/Debug/
CppSQLite3_2/CppSQLiteDemoExt/.vs/
CppSQLite3_2/CppSQLiteDemoExt/Debug/
CppSQLite3_2/CppSQLiteDemoMT/.vs/
CppSQLite3_2/CppSQLiteDemoMT/Debug/
CppSQLite3_2/ManagedDemo/.vs/
CppSQLite3_2/ManagedDemo/Debug/
